@model Dynamic.Models.Carro

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastro</h1>

<h4>Cliente</h4>
<hr />
<form asp-action="Create">
    @await Html.PartialAsync("_shared")
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}